section.title{
    text-align: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img.exit{
    width: 2%;


}

/*---------------------------------------------------------------------------------*/




section.bgimgs{


}
img.bgimg{


}


/*---------------------------------------------------------------------------------*/
section.info1{


}

img.introimg{



}



/*---------------------------------------------------------------------------------*/
div.table{


}
/*---------------------------------------------------------------------------------*/

section.info2{



}
img.infoimg{




}

/*---------------------------------------------------------------------------------*/

section.info3{




}
img.info2img{



}




/*---------------------------------------------------------------------------------*/
section.cards{



}

img.qaimg{




}

img.opt1{



}
img.opt2{



}
/*---------------------------------------------------------------------------------*/
footer.outro{



}
div.resource{



}
